*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #0d07ba, #c74c30)
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 120vh;
    min-width: none;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(100px,auto) repeat(5,100px);

}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1.5px solid rgb(255, 255, 255);
    outline: none;
    background-color: rgba(255,255,255,.75);

}
.calculator-grid > button:hover {
    background-color:rgba(255,255,255,.9); 
}
.span-two {
       grid-column: span 2;

}
.output{
    grid-column: 1/ -1;
    display: flex;
    background-color:#2533b4;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    font-size: 1.5rem;
    color: rgba(255,255,255,.75);
}
.output .current-operand{
    color: white;
    font-size: 1.5rem;
}
